<table class="table">
  <tbody>
    <tr>
      <td><app-generate-easy-mode-people></app-generate-easy-mode-people></td>
      <td></td>
      <td>People2</td>
      <td></td>
      <td>People3</td>
      <td></td>
      <td>People4</td>
      <td></td>
      <td><app-generate-easy-mode-people></app-generate-easy-mode-people></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-lg btn-outline-primary" (click)="openMovie1()">Movie1</button>
      
      </td>
      <td></td>
      <td>Movie2</td>
      <td></td>
      <td>Movie 3</td>
      <td></td>
      <td>Movie 4</td>
      <td></td>
    </tr>
  </tbody>
</table>
